@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
}

.preloader {
  overflow: hidden;
  /* opacity: 1; */
}

.fullHeight {
  height: 100vh;
  height: 100svh;
  /* maybe use dvh for dynamic viewport height */
}

.preloader__background {
  position: fixed;
  inset: 0;
  z-index: 10000;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
}

.preloader__text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  line-height: 1;
  z-index: 10001;
  color: white;
}

.preloader__text span {
  display: block;
  opacity: 0;
}

.borderr {
  border: 1px solid red;
}

.video-container {
  position: relative;
  width: 100%; /* Adjust as needed */
  height: 100vh; /* Full height of the viewport */
  overflow: hidden; /* Hide overflow to prevent scrollbars */
}

/* Media query for small screens (sm) */
@media (max-width: 500px) { 
  .video-container {
    height: 75vh; /* Set height to 80vh for small screens */
  }
}

/* Media query for medium screens (md) */
@media (min-width: 768px) { 
  .video-container {
    height: 85vh; /* Keep height at 80vh for medium screens */
  }
}

@media (min-width: 1024px) {
  .video-container {
    height: 95vh; 
  }
}



video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto; /* Allow width to adjust */
  height: 100%; /* Fill the height */
  min-width: 100%; /* Ensure the video fills the width */
  min-height: 100%; /* Ensure the video fills the height */
  object-fit: cover; /* Cover the container, maintaining aspect ratio */
  object-position: center; /* Focus on the center of the video */
  transform: translate(-50%, -50%); /* Center the video */
}

.headerLink {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  font-size: 0.65rem;
  line-height: 1rem;
  font-weight: 300;
}

.selectedSize {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 300;
}

.selectedSize::after {
  content: "";
  height: 1px;
  background: black;
  left: 0;
  bottom: 1px; /* Adjust this value to move the line closer to the text */
  width: 100%; /* Start with full width */
  position: absolute;
}

.headerLink::after {
  content: "";
  height: 1px;
  background: black;
  left: 0;
  bottom: 1px; /* Adjust this value to move the line closer to the text */
  width: 100%; /* Start with full width */
  position: absolute;
  transform: scaleX(0); /* Initially scale the width to 0 */
  transform-origin: left; /* The animation starts from the left */
  transition: transform 0.2s ease-in-out;
}

.aboutHeaderLink::after {
  background: white; /* Overrides the default black background */
}

.headerLink:hover::after {
  transform: scaleX(1); /* Scale to full width on hover */
  transform-origin: left; /* Ensure the line grows from left to right */
}
.headerLink::after {
  transform: scaleX(
    0
  ); /* Scale back to 0, but the transform-origin changes to right */
  transform-origin: right;
}

.frontImageText {
  position: absolute;
  padding: 2.75vw;
  font-size: 0.875rem;
  font-weight: 300 !important;
  color: white;
  bottom: 0;
}

.productImageText {
  position: absolute;
  padding: 2.75vw;
  font-size: 0.875rem;
  font-weight: 300 !important;
  color: white;
  bottom: 0;
}

.productBodyText {
  font-size: 0.7rem;
  line-height: 1rem;
  font-weight: 300 !important;
}

.menuLink {
  padding: 1.2rem 1rem;
  width: 100%;
  font-size: 1rem;
  border-bottom: 1px solid #a4a4a4; /* Set border color with opacity */
}

.footerLink {
  width: 100%;
  font-size: 0.75rem;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid #a4a4a4;
}

.logoText {
  border: none;
}

select {
  align-items: center;
  -webkit-appearance: none; /* Remove default dropdown arrow in Chrome and Safari */
  -moz-appearance: none; /* Remove default dropdown arrow in Firefox */
  appearance: none; /* Modern browsers */
  background: url("../components/caret.svg") no-repeat right 40%;
}

select option {
  background-color: white;
  color: black;
}

.checkoutButton {
  cursor: pointer;
  color: white;
  background-color: black;
  border: 1px solid black;
  /* overflow: hidden; */
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 1.25rem;
  font-size: 0.75rem;
  position: relative;
  line-height: 1rem;
}
